
.container{
  min-height: 100vh;
  padding : 1rem;
  margin-top: 3rem;

}


.h2{
color: #ff9900;
font-weight: bold;

}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s;
}


.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* overlap */
}

.watermark img {
  width: 200px; /* Adjust the width as per your requirement */
  height: auto; /* Maintain aspect ratio */
  filter: opacity(0.5); /* Add opacity to make the watermark semi-transparent (optional) */
}

.btn-bottom{
 
  bottom: 200px
}

.btn {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 202px;
}
.btn:hover {
  background-color: #f8f3f3;
  color: #ff9900;
}
