<div class="mb-3 p-5 container text-center">

  <div class="h2">
    A visualizing and analyzing tool for Software Bill of Materials (SBOMs).
  </div>

  <div class="h4 mb-3">
    Upload a CycloneDX SBOM saved as a JSON file and begin exploring
    through the components' structure and relationships. This tool queries
    information from the National Vulnerability Database to identify the
    vulnerable components and highlights them for ease of locating. Read
    the full 
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/CEADS/sboms_ds/-/blob/main/VORTEX/User%20Manual/VORTEXUserManual.md?ref_type=heads">
      user manual here.
    </a>
  </div>

  <div class="text-center">
    <div *ngIf="!showSpinner">
      <div>
        <input
          type="file"
          #fileInput
          style="display: none"
          (change)="onFileSelected(fileInput)"
          accept=".json"
        />
        <button type="button" class="btn btn-dark" (click)="fileInput.click()">Choose File</button>
      </div>
      
      <div *ngIf="progress !== null">
        Progress: {{ progress }}%
        <div class="progress-bar">
          <div class="progress" [style.width.%]="progress"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show the spinner after clicking the button -->
  <div *ngIf="showSpinner" class="text-center my-5">
    <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="p-3 text-center">Loading...</p>
  </div>

  <button *ngIf="!showSpinner && isUploadComplete" class="btn btn-primary mt-3" (click)="onButtonClicked()">Continue</button>
</div>



<div class="watermark">
  <img src="../assets/Bengal-Gray.png" alt="Watermark" />
</div>


<!-- 
<div class="mb-3 p-5 container text-center">

  <div class="h2">
    
    A visualizing and analyzing tool for Software Bill of Materials (SBOMs).
  </div>

  <div class="h4 mb-3">
    Upload a CylconeDX SBOM saved as a JSON file and begin exploring
    through the components' structure and relationships. This tool queries
    information from the National Vulnerability Database to identify the
    vulnerable components and highlights them for ease of locating. Read
    the full user manual here.
  
  </div>
  <div class="text-center">
    <div *ngIf="!showSpinner">
      <div>
        <input
          type="file"
          #fileInput
          style="display: none"
          (change)="onFileSelected(fileInput)"
        />
        <button type="button" class="btn btn-dark"
        (click)="fileInput.click()">Choose File</button>

   
      </div>
      
      <div *ngIf="progress !== null">
        Progress: {{ progress }}%
        <div class="progress-bar">
          <div class="progress" [style.width.%]="progress"></div>
        </div>
      </div>

  </div>
  </div>
  





<div *ngIf="showSpinner" class="text-center">

  <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
    <span class="visually-hidden">Loading...</span>
    
    
  </div>

  <p class="p-3 text-center">Loading...</p>

</div>

<button *ngIf="isUploadComplete" (click)="onButtonClicked()">Continue</button>



</div>
 -->
