/* tr{
    font-size: 1.3rem;
} */
::ng-deep .vis-network {
    /* border: 1px solid #ccc; */
    margin: 0 auto;
  }
  
  #graphContainer {
    width: 100%; /* Set the width to take the full available width */
    height: 800px; /* Set the desired height of the graph container */
    border: none; /* Remove any border */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
  }
  
/* Styles for the loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 1.5rem;
  }