<div class="container text-center">
    <!-- <div class="h2">SBOM GRAPH</div> -->
    <table class="table table-borderless">
      <!-- <thead>
        <tr>
          <th scope="col">SBOM GRAPH</th>
          <th scope="col">Vulnerabilities Identified</th>
          <th scope="col">Max Dependency Tree Depth of 3</th>
        </tr>
      </thead> -->
    </table>
    <!-- graph.component.html -->
    <!-- <div id="graphContainer" class="vis-network" style="width: 100%; height: 500px;"></div> -->
      <!-- Loader will be shown until the graph is loaded -->
  <div *ngIf="!htmlContentLoaded" class="loader">
    Graph is Loading...
  </div>
    <div id="graphContainer" class="vis-network"></div>

  </div>
  