<nav class="navbar bg-dark navbar-expand-lg fixed-top ">


    <div class="container-fluid">    
      <div class="navbar-left">
        <div class="big-text">
          <div class="h1">
            <a class="big-text" aria-current="page" routerLink="/landing">
              VORTEX
            </a>
          </div>
        </div>
        <div class="small-text">
          <div class="h4">
            Vulnerability Overview, Research, and Threat EXploration
          </div>
        </div>
      </div>
      <div class="navbar-right">
        <ul class="nav justify-content-center me-auto mb-2 mb-lg-0 fs-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/main">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/CEADS/sboms_ds/-/blob/main/VORTEX/User%20Manual/VORTEXUserManual.md?ref_type=heads">
              User Manual
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://ceads.gitlab.io/contact/">
            Contact Us
            </a>
          </li>

          </ul>
      
      </div>

        
  
    </div>
  </nav>
