<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <div class="linkHolder">
        <div class="links">
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://inlhrfedramp.gov1.qualtrics.com/jfe/form/SV_0NEpYJqCeLvnqgm">
              Contact CAES
            </a>
          </div>
          <div>Inquire with questions or to learn more</div>
        </div>
        <div class="links">
          <div>
              Project Funding
          </div>
          <div>This project was funded by the DOE through the INL</div>
        </div>
        <div class="links">
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://inlhrfedramp.gov1.qualtrics.com/jfe/form/SV_0NEpYJqCeLvnqgm">
              Funding Opportunities
            </a>
          </div>
          <div>Reach out if you would like to fund VORTEX's future development</div>
        </div>
      </div>





    </div>

    <!-- Right -->
  </section>

  <div class="row">

    <div class="col-md-3">
      <div class="logo-container">
        <a href="https://isu.edu">

          <img src="../../../assets/ISU-stacked.png" alt="Logo 1" class="logo">
        </a>
      </div>

    </div>
    <div class="col-md-3">
      <div class="logo-container">
        <a href="https://inl.gov">

          <img src="../../../assets/INL.png" alt="Logo 2" class="logo">
        </a>

      </div>

    </div>
    <div class="col-md-3">
      <div class="logo-container">
        <a href="https://caes.org">
          <img src="../../../assets/CAES-0110-01.png" alt="Logo 3" class="logo">
        </a>
      </div>

    </div>
    <div class="col-md-3">
      <div class="logo-container">
        <a href="https://gitlab.com/CEADS/">

          <img src="../../../assets/CEADS_logo_DV_light.png" alt="Logo 3" class="logo">
        </a>
      </div>

    </div>
  </div>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://gitlab.com/CEADS/">CEADS</a>
  </div>
</footer>
  <!-- Footer -->




 
