/* 
.bd-footer {
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}

img{
    padding: 0.5rem;
} */

.footer {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
.logo-container {
  text-align: center;
}
 
.logo {
  max-width: 100%;
  max-height: 100px;
}

.links {
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block;
}

.linkHolder {
  text-align: center;
}

/*Define color for various link states*/
a:link{
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: black;
}
