

<footer class="footer">
    <div class="row">
 
     <div class="col-md-3">
       <div class="logo-container">
         <img src="../../../assets/ISU-stacked.png" alt="Logo 1" class="logo">
       </div>
 
     </div>
     <div class="col-md-3">
       <div class="logo-container">
         <img src="../../../assets/INL.png" alt="Logo 2" class="logo">
       </div>
       
     </div>
     <div class="col-md-3">
       <div class="logo-container">
         <img src="../../../assets/CAES-0110-01.png" alt="Logo 3" class="logo">
       </div>
       
     </div>
     <div class="col-md-3">
       <div class="logo-container">
         <img src="../../../assets/CEADS_logo_DV_light.png" alt="Logo 3" class="logo">
       </div>
       
     </div>
    </div>
 
     <div class="row">
 
     </div>
   </footer>
   