<div class="container text-center">
    <div class="h1">
        Summary
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="name-cell">Name</th>
                    <th class="equal-space-cell">Type</th>
                    <th class="equal-space-cell">Depth</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td class="name-cell">{{ item.name }}</td>
                    <td class="equal-space-cell">{{ item.type }}</td>
                    <td class="equal-space-cell">{{ item.depth }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
