/* Justify-align the content in the "Description" column */
td.name-cell {
    text-align: left;
    /* Add more styling if needed, such as padding, etc. */
  }
  
/* Set the table to cover the whole page */
table {
    width: 100%;
  }
  
  /* Set equal width for all columns */
  td.name-cell,
  td.equal-space-cell,
  th.name-cell,
  th.equal-space-cell {
    width: 33.33%; /* Three columns, so each gets 33.33% width */
    text-align: left; /* Align the content to the left */
    /* Add more styling if needed, such as padding, etc. */
  }
  
  /* Add some padding to the cells for better spacing */
  td.name-cell,
  td.equal-space-cell,
  th.name-cell,
  th.equal-space-cell {
    padding: 8px;
  }
  