<div class="container text-center">
    <div class="row">
        <div class="h1">
            Stats
        </div>
    </div>
 

    <div class="row mb-3">
    
        <div class="col-4">
            
            <!-- First Chart -->
              <ngx-charts-pie-chart
                [view]="[300, 300]"
               
                [results]="data1"
                [gradient]="gradient"
                
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>
          
        </div>
        <div class="col-4">

            <ngx-charts-bar-vertical
              [view]="[300, 300]"
              [scheme]="colorScheme2"
              [results]="data2"
              [gradient]="gradient"
           
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>

        <div class="col-4">
            <ngx-charts-gauge
                [view]="[400, 300]"
               
                [results]="data4"
                [legend]="legend"
               
                (select)="onSelect($event)"
             
                >
            </ngx-charts-gauge>
        </div>
    </div>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6">
            <ngx-charts-bar-vertical
            [view]="[500, 500]"
            
            [results]="data3"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
            
        </div>
        <div class="col-2">
            
        </div>
    </div>



</div>
