.container
{

    min-height: 100vh;
    padding : 1rem;
    margin-top: 4rem;
}


.nav-tabs .nav-link.active {
    background-color: #ff9900; 
    color: #fff; 
  }
  
  .nav-tabs .nav-link {
    /* background-color: #f7f7f7;  */
    color: #333; 
  }
  
  .nav-tabs .nav-link:hover {
    background-color: #eee; 
  }
