<div class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/analysis/graph">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/analysis/summary">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/analysis/stats">Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/analysis/vulnerability" >Vulnerabilities</a>
    </li>
  </ul>

    
    <!-- <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/analysis/graph" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/analysis/summary"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/analysis/stats"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/analysis/vulnerability"></a>
          </li>
    
    </ul> -->


      <router-outlet>
  
      </router-outlet>
 

</div>

