
.welcome-bg {
    background-image: url('https://example.com/welcome-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* 로고 스타일 */
  .logo {
    font-size: 60px;
    font-weight: bold;
    color: transparent; /* 텍스트를 투명하게 설정 */
    background-image: linear-gradient(90deg, #ff9900, #ff9900, #f8f3f3); /* 그라데이션 배경 색상 */
    background-clip: text; /* 텍스트의 배경으로 그라데이션을 적용 */
    -webkit-background-clip: text; /* 크로스 브라우징을 위한 프리픽스 */
  }
  /* 로고 아래의 설명 텍스트 스타일 */
  .description {
    font-size: 30px;
    color: #f8f3f3;
    margin-bottom: 20px;
    opacity: 0; /* 초기에는 투명하게 설정 */
  }
  /* 애니메이션 효과 */
  @keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* 효과가 적용될 시간과 타이밍 함수 설정 */
  .fadeIn {
    animation: fadeInText 2s ease-in-out forwards; /* 2초간 애니메이션 적용 */
  }

  .btn {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .btn:hover {
    background-color: #f8f3f3;
    color: #ff9900;
  }



