<!--   
  <div class="watermark">
    <img src="../assets/Bengal-Gray.png" alt="Watermark" />
  </div> -->
  
  <!-- 웰컴 페이지 -->
  <div class="welcome-bg bg-dark">

    <div class="welcome-bg">
        <div>
          <!-- 로고와 설명 -->
          <div class="logo fadeIn">Welcome to VORTEX</div>
          <div class="description fadeIn">

            Component analysis, vulnerability overview, and visualization of Software Bill of Materials.

          </div>
          <!-- 버튼 -->
          <button class="btn" routerLink="/main">Get Started</button>
        </div>
      </div>
    
<!-- 
    <div>


      <div class="logo">
        VORTEX, a Tool That Lets You Create a Graph Visualization of CycloneDX SBOMs.
      </div>
      <div class="description">
        VORTEX: Unveil software landscapes effortlessly with this cutting-edge SBOM tool. <br> Seamlessly transforming CycloneDX data into immersive visualizations, VORTEX offers  unparalleled insights into software composition, dependencies, and security, empowering informed decision-making at a glance. 

      </div>
     
      <button class="btn">Get Started</button>
    </div> -->
  </div>
