<div class="landingpage" style="height: 770px;">

<div class="navbar">
    <a class="navlogo" href="./Website.html">WELCOME TO VORTEX</a>
    <button class="hamburger"></button>

    <div class="navlinkwrap">
    <a class="navlink selectedlink" href="./Website.html">Home</a>
    <a class="navlink" href="/avisha">Graph</a>
    <a class="navlink" href="/autumn">Visualization</a>
    <a class="navlink" href="/pratham">Data</a>
    </div>
    <div class="buttonwrap">
    <button class="createbtn selectedbtn">SBOM Visualization</button>
    <button class="createbtn">Developers</button>
    </div>
</div>


<div class="description">
    <p >
    VORTEX, a Tool That Lets You <br> Create a Graph Visualization <br> of CycloneDX SBOMs.
    </p>
</div>

<div class="desc-small">
    <p class="desc-small-text">
    VORTEX: Unveil software landscapes effortlessly with this cutting-edge SBOM tool. <br> Seamlessly transforming CycloneDX data into immersive visualizations, VORTEX offers <br> unparalleled insights into software composition, dependencies, and security, empowering <br> informed decision-making at a glance. 
    </p>
</div>

</div>

