
  
  .hidden {
    display: none;
  }
  
  .landingpage {
  
    display: flex;
    flex-direction: column;
    min-height: vh;
    /* Set the container height to at least the viewport height */
    background-color: #1F1D2B;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    max-width: 1500px;
    max-height: 1500px;
  
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1F1D2B;
  
  
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 0px;
    }
  
    /* margin-top: 20px;
      margin-bottom: 150px;
  */
  
  
    .landingpages {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #1F1D2B;
    }
  
  
  
  }
  
  .description {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: left;
    margin-top: 50px;
    padding: 10px;
  }
  
  .navbar {

    
    .createbtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      width: 126px;
      height: 45px;
      color: #BCBCBC;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
  
      &.selectedbtn {
        border: 1px solid #D7D7D7;
        border-radius: 10px;
      }
  
    }
  
    .navdocs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      width: 100%;
      margin-bottom: 435px;
  
    }
  
    .navlogo {
      height: 100%;
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
    }
  
    .navlink {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #BCBCBC;
  
      &.selectedlink {
        background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid #9B51E0;
      }
  
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
  
  .desc-small{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding: 10px;
  }