
.welcome-bg {
    background-image: url('https://example.com/welcome-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

    .logo {
    font-size: 48px;
    font-weight: bold;
    color: #ff9900;
    }
  /* 로고 아래의 설명 텍스트 스타일 */
  .description {
    font-size: 18px;
    
    margin-bottom: 20px;
  }

  .btn {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .btn:hover {
    background-color: #f8f3f3;
    color: #ff9900;
  }

  .watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* 다른 콘텐츠 위에 겹치도록 z-index를 설정합니다. */
  }


  .watermark img {
    width: 200px; /* Adjust the width as per your requirement */
    height: auto; /* Maintain aspect ratio */
    filter: opacity(0.5); /* Add opacity to make the watermark semi-transparent (optional) */
  }