/* since we are using fixed top, it is needed to have a padding top always. */
main{
    
    padding-top: 3rem !important;

}

.container
{

    min-height: 100vh;
    padding : 1rem;
    margin-top: 4rem;
}
